
entrypoint = "synapse.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "synapse.py"]
deploymentTarget = "cloudrun"

[env]
PYTHON_VERSION = "3.11"

[[hints]]
regex = "Traceback.*"
message = "Did your Python code raise an exception?"

[[workflows.run]]
commands = ["python3", "synapse.py"]
persistent = true
