
entrypoint = "synapse.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "synapse.py"]
deploymentTarget = "cloudrun"

[env]
PYTHON_VERSION = "3.11"

[[hints]]
regex = "Traceback.*"
message = "Did your Python code raise an exception?"

[workflows]

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 34492043

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "python3"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "Python 'create web app tictactoe'"
